.avatar {
  vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid #D4D2D2;
}

.avatar:hover {
  cursor: pointer;
}

.form-control {
  float: left;
}

.form-group-label {
  float: left;
  font-weight: 400;
  margin: 4px 6px 8px 0px;
}

.validn {
  float: left;
  margin-top: 4px;
}

textarea::-webkit-input-placeholder {
  text-align: left !important;
}

.form-check-label {
  overflow: auto;
  padding-left: 2px;
}

.form-check-inline {
  float: left;
}

.form-row {
  float: left;
}

.loader {
  border: 16px solid rgb(227, 247, 247);
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 2s linear infinite;
  position: relative;
  top: 25%;
  left: 25%;
  z-index: 2;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}