.avatar {
  vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
}

.form-control {
  float: left;
}

.form-group-label {
  float: left;
  font-weight: 300;
  margin: 4px 0px 8px 0px;
}

::-webkit-input-placeholder {
  text-align: left !important;
}

.form-check-label {
  overflow: auto;
  padding-left: 2px;
}

.form-check-inline {
  float: left;
}

.form-row {
  float: left;
}