::-webkit-input-placeholder {
  text-align: right;
}

.form-check-label {
  padding-right: 6px;
}

.btn-primary {
  background-color: #64C8C5 !important;
  margin-bottom: 30px;
}

.radio-inline {
  padding-right: 5px;
}