::-webkit-input-placeholder {
  text-align: right;
}

.form-check-label {
  padding-right: 6px;
}

.btn-primary {
  background-color: #64C8C5 !important;
}

button {
  margin: 15px 0px 15px 0px;
  background-color: #64C8C5 !important;
}

.radio-inline {
  padding-right: 5px;
}