.navigation {
  background-color: #F4F4F4;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.nav-pills>li>a {
  color: grey;
}

#tab1 {
  border-left: 1px solid #D4D2D2;
}

#tab2 {
  border-right: 1px solid #D4D2D2;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
  background-color: #64C8C5;
  border: 1px solid #64C8C5;
  color: white;
}

.nav-pills>li.active>a>a {
  color: white;
  text-decoration: none;
}

.avatar {
  vertical-align: middle;
  width: 2px;
  height: 2px;
  border-radius: 50%;
}

.glyphicon-ok {
  margin-right: 6px;
}